.footer {
	position: fixed;
	bottom:0;
	background-color:#BDBDBD;
	width:100%;
    height:150px;
    border-top:3px solid #212121;
    padding:15px;

}

.footer .footer-box {
	color:#BDBDBD;
}

.footer .footer-box a {
		color:inherit;
		text-decoration:none;
}


@media only screen and (min-width: 960px) {

    .footer {
    	display:flex;
    	flex-direction:row;

    }

    .footer .footer-box {
    	color:black;
		margin-left:8%;
		margin-right:8%;
		flex:1;
		
	}
    
	.footer .footer-box a {
		color:inherit;
		text-decoration:none;
	}

	.footer .footer-box li {
		margin-left:-39px;
		list-style-type:none;
	}

	.footer .footer-box li:hover {
		font-weight:bolder;
		font-size:18px;
		list-style-type:none;
	}

}

